<footer class="footer-flex">
    <div>
        <ul class="ul-footer">
            <li>
                <a href=""> Atención al Cliente </a>
            </li>
            <li>
                <a href="">¿Quiénes Somos?</a>
            </li>

        </ul>
    </div>

    <div>
        <ul class="ul-footer">
            <li>
                <a href="www.facebook.com"><i class="fa-brands fa-facebook"></i> AdventureBa </a>
            </li>
            <li>
                <a href="www.instagram.com"><i class="fa-brands fa-instagram"></i> @AdventureBa</a>
            </li>
            <li>
                <a href="mailto: abc@example.com"><i class="fa-regular fa-envelope"></i> adventureba@gmail.com</a> 
            </li>
        </ul>
    </div>

</footer>