<footer>
    <div>
        <ul class="redes">
            <li>
                <a href="www.facebook.com"><i class="fa-brands fa-facebook"></i> AdventureBA </a>
            </li>
            <li>
                <a href="www.instagram.com"><i class="fa-brands fa-instagram"></i> AdventureBA</a>
            </li>
            <li>
                <a href="mailto: abc@example.com"><i class="fa-regular fa-envelope"></i> adventureba@BA.com</a> 
            </li>
        </ul>
    </div>
</footer>