 <header>
        <div class="top-bar">
            <div>
                <a href="/"> <img class="logo" src="/img/aBA 2.png" alt="Logo-AdventureBA" > </a>
               
            </div>
            <div>
                <ul class="test">
                    <li class="search-bar"> <b>Buscame!</b><i class="fa fa-search"></i></li>
                    <li><a href="/users/login">Inicia sesión</a></li>
                    <li><a href="/users/create">Registrate</a></li>
                    <li><i class="fa-solid fa-cart-shopping"></i></li>
                    <li><i class="fa-regular fa-user"></i></li>
                </ul>
            </div>
        </div>

        <nav>
            <div class="navbar">
                <ul>
                    <li>
                        <a href="/products/list"> Entretenimiento </a>
                    </li>
                    <li>
                        <a href="/productList"> Gastronomía</a>
                    </li>
                    <li>
                        <a href="/productList">Cultura</a>
                    </li>
                    <li>
                        <a href="/products/list"> Catálogo </a>
                    </li>
                </ul>
            </div>
        </nav>


</header>
