 <header>
        <div class="top-bar">
            <div class="logo-container">
                <a href="/"> <img class="logo" src="/img/aBA 2.png" alt="Logo-AdventureBA" > </a>
               
            </div>
            <div>
                <ul class="test">
                    <form class="search-bar" action='/products/search' method="POST">
                        <input type="search" name="busqueda" placeholder="Busca tu experiencia" value="">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                    <li><a href="/users/login">Inicia sesión</a></li>
                    <li><a href="/users/create">Registrate</a></li>
                    <li><i class="fa-solid fa-cart-shopping"></i></li>
                    <li><i class="fa-regular fa-user"></i></li>
                </ul>
            </div>
        </div>

        <nav>
            <div class="navbar">
                <ul>
                    <li>
                        <a href="/products/attraction"> Atracciones </a>
                    </li>
                    <li>
                        <a href="/products/food"> Gastronomía</a>
                    </li>
                    <li>
                        <a href="/products/culture">Cultura</a>
                    </li>
                    <li>
                        <a href="/products/housing">Alojamiento</a>
                    </li>
                    <li>
                        <a href="/products/list">Todos los productos</a>
                    </li>
                </ul>
            </div>
        </nav>


</header>
