 <header>
        <div class="top-bar">
            <div>
                <img class="logo" src="/img/Logo-AdventureBA.png" alt="Logo-AdventureBA" >
            </div>
            <div>
                <ul class="test">
                    <li class="search-bar"> <b>Buscame!</b><i class="fa fa-search"></i></li>
                    <li><i class="fa-solid fa-cart-shopping"></i></li>
                    <li><i class="fa-regular fa-user"></i></li>
                </ul>
            </div>
        </div>

        <nav>
            <div>
                <ul>
                    <li>
                        <a href=""> Entretenimiento </a>
                    </li>
                    <li>
                        <a href=""> Gastronomía</a>
                    </li>
                    <li>
                        <a href=""> Cultura</a>
                    </li>
                    <li>
                    <a href="">Ofertas</a>
                    </li>
                </ul>
            </div>
        </nav>


</header>
