<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', {title: "Home"})%>

<body>
    <%- include('./partials/header')%>

    <form method="POST" action="/products" enctype="multipart/form-data">
        <input name="name" placeholder="nombre" type="text">
        <input name="category" placeholder="categoria" type="text">
        <input name="description" placeholder="descripcion" type="text">
        <input name="price" placeholder="precio" type="number">
        <input name="image" type="file">
        <button type="submit">CREATE</button> 
    </form>

    <%- include('./partials/footer')%>

</body>

</html>