<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', {title: "Home"})%>

<body>
    <%- include('./partials/header')%>
    <main>
        <h3>Modificá tu producto</h3>
        <form class="formularios" action="/" method="get">
            <div>
                <label>Título del producto:</label>
                <input class="text-field" type="text" name="nombreProducto">
            </div>
            <div>
                <label for="descripcion">Descripción del producto:</label>
                <div>
                    <textarea id="descripcion" name="descripcion" rows="4" cols="40"></textarea>
                </div>
           </div>
            <div>
                <label>Imagen del producto</label>
                <div>
                    <input type="file" name="fotoProducto">
                </div>
            </div>
            <div>
                <label>Precio:</label>
                <input class="text-field" type="text" name="Precio">
           </div>
            <div>
                <button class="botonForm botonSubmit" type="submit">Modificar</button>
                <button class="botonForm botonReset" type="submit">Cancelar</button>
            </div>

    </main>

    <%- include('./partials/footer')%>

</body>

</html>