<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href = "./css/styles.css" rel = "stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel = "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <title>Adventure BA</title>
    </head>

    <body>
        <header>
            <div class="top-header">
                <img class="logo" src="/Logo-AdventureBA.png" alt="logo Adventure-BA">
                <div class="buscador">
                    <input type="search" name="buscador" placeholder="Busca tu experiencia"> 
                    <div class="lupa"><i class = "fas fa-search"></i></div>
                </div>
                <i class="fas fa-solid fa-shopping-cart"></i>
                <i class="fas fa-solid fa-user"></i>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href = "#">Entretenimiento</a>
                    </li>
                    <li>
                        <a href = "#">Gastronomía</a>
                    </li>
                    <li>
                        <a href = "#">Cultura</a>
                    </li>
                    <li>
                        <a href = "#">Mix</a>
                    </li>
                </ul>
            </nav>

            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>

        </header>

        <section>
            <div class="presentacion">
                <img class="buenosAires" src="/img/Teatro Colon.jpeg" alt="foto-BA">
                <p class="texto-presentacion"> Bienvenidos a Buenos Aires, la capital de Argentina y uno de los destinos turísticos más emocionantes de Sudamérica.


                    Aquí encontrarás una variedad de experiencias que satisfarán todos tus intereses. Podrás degustar la famosa gastronomía porteña, disfrutar de la cultura y la historia en los museos y monumentos emblemáticos de la ciudad, y sentir la pasión del fútbol argentino.
                
                
                    Ven a Buenos Aires y vive una experiencia única e inolvidable.
                </p>
            </div>
        </section>

        <main>
            <section>
                <h3>Oportunidades</h3>
                <div class="productos">
                    <article>
                        <img src="/img/Teatro Colon.jpeg" alt="teatro-colon">
                        <div class="info-articulos">
                            <p class="precio">$8.000</p>
                            <p class="descuento">20% OFF</p>
                            <h4 class = "desc-prod">Visita Guiada Teatro Colón<h4>
                        </div>
                    </article>
                    <article>
                        <img src="/img/Teatro Colon.jpeg" alt="comida-soho">
                        <div class="info-articulos">
                        <p class="precio">$12.000</p>
                        <p class="descuento">10% OFF</p>
                        <h4 class = "desc-prod">Tour Gastronómico Palermo Soho<h4>
                        </div>
                    </article>
                    <article>
                        <img src="/img/Teatro Colon.jpeg" alt="bombonera">
                        <div class="info-articulos">
                        <p class="precio">$30.000</p>
                        <p class="descuento">5% OFF</p>
                        <h4 class = "desc-prod">Tour Museo Boca Juniors + Entrada Copa Libertadores<h4>
                        </div>
                    </article>
                </div>
            </section>
            <section>
                <h3>Imperdibles</h3>
                <div class="productos">
                    <article>
                        <img src="/img/Teatro Colon.jpeg" alt="teatro-colon">
                        <div class="info-articulos">
                            <p class="precio">$8.000</p>
                            <p class="descuento">20% OFF</p>
                            <h4 class = "desc-prod">Visita Guiada Teatro Colón<h4>
                        </div>
                    </article>
                    <article>
                        <img src="/img/Teatro Colon.jpeg" alt="comida-soho">
                        <div class="info-articulos">
                        <p class="precio">$12.000</p>
                        <p class="descuento">10% OFF</p>
                        <h4 class = "desc-prod">Tour Gastronómico Palermo Soho<h4>
                        </div>
                    </article>
                    <article>
                        <img src="/img/Teatro Colon.jpeg" alt="bombonera">
                        <div class="info-articulos">
                        <p class="precio">$30.000</p>
                        <p class="descuento">5% OFF</p>
                        <h4 class = "desc-prod">Tour Museo Boca Juniors + Entrada Copa Libertadores<h4>
                        </div>
                    </article>
                </div>
            </section>
            <section>
                <h3>¡Nuevas Experiencias!</h3>
                <div class="productos">
                    <article>
                        <img src="/img/Teatro Colon.jpeg" alt="teatro-colon">
                        <div class="info-articulos">
                            <p class="precio">$8.000</p>
                            <p class="descuento">20% OFF</p>
                            <h4 class = "desc-prod">Visita Guiada Teatro Colón<h4>
                        </div>
                    </article>
                    <article>
                        <img src="/img/Teatro Colon.jpeg" alt="comida-soho">
                        <div class="info-articulos">
                        <p class="precio">$12.000</p>
                        <p class="descuento">10% OFF</p>
                        <h4 class = "desc-prod">Tour Gastronómico Palermo Soho<h4>
                        </div>
                    </article>
                    <article>
                        <img src="/img/Teatro Colon.jpeg" alt="bombonera">
                        <div class="info-articulos">
                        <p class="precio">$30.000</p>
                        <p class="descuento">5% OFF</p>
                        <h4 class = "desc-prod">Tour Museo Boca Juniors + Entrada Copa Libertadores<h4>
                        </div>
                    </article>
                </div>
            </section>
            <div class="suscripcion">
                <h3>Suscribite a la lista de correo</h3>
                <a href="#">Suscribirse</a>
            </div>
        </main>
        <footer>
            <section>
                <div class="data-util">
                    <article>
                        <h4>Atención al cliente</h4>
                        <i class="fas fa-solid fa-phone"></i>
                    </article>
                    <article>
                        <h4>¿Quienes somos?</h4>
                        <i class="fas fa-solid fa-users"></i>
                    </article>
                </div>
                <div class="redes">
                    <article>
                        <i class="fa-brands fa-instagram"></i>
                    </article>
                    <article>
                        <i class="fa-brands fa-twitter"></i>
                    </article>
                    <article>
                        <i class="fas fa-sharp fa-solid fa-envelope"></i>
                    </article>
                </div>
            </section>
        </footer>

    </body>
</html>