<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', {title: "Login"})%>

<body>
    <%- include('./partials/header')%>


        <main>
            <form class="formularios" action="/users/login" method="POST">
                <div>  
                    <label>E-mail:</label>
                    <input class="text-field" type="email" name="email">
                </div>
                <div>   
                    <label>Contraseña:</label>
                    <input class="text-field" type="password" name="password">
                </div>
                <div>   
                    <label>Recordame</label>
                    <input class="" type="checkbox" name="cookie">
                </div>
                <% if(locals.errors && errors.datosMal) { %>
                    <p class="error">
                    <%= errors.datosMal.msg %></p>
                <% } %>
                <div>
                    <h6>¿Olvidaste tu contraseña?</h6>
                </div>
                <div>
                    <button class="botonForm botonEnviar" type="submit">Ingresar</button>
                </div>
            </form>
        </main>
    </header>
    
    <%- include('./partials/footer')%>

</body>
</html>







