<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css"> 
    <link rel="stylesheet" href="css/styles.css"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <title>Producto</title>
</head>
<body>
    <header>
        <div class="barra-superior">
            <img src="/img/Logo-AdventureBA.png" alt="Logo-AdventureBA">

            <div class ="buscador">
                <h4> Buscar </h4>
                <i class="fa fa-search"></i>
            </div>

    
            <div class="carrito">
    
                <div class="div-carrito-shop"><i class="fa-solid fa-cart-shopping"></i></div>
                <div class="div-carrito-user"><i class="fa-regular fa-user"></i></div>
    
            </div>
        </div>
  

        <nav>
            <ul>
                <li>
                    <a href=""> Entretenimiento </a>
                </li>
                <li>
                    <a href=""> Gastronomía</a>
                </li>
                <li>
                    <a href=""> Cultura</a>
                </li>
                <li>
                <a href="">Ofertas</a>
                </li>

            </ul>

    </header>

        <main>
            <form class="formularios" action="/" method="get">
                <div>  
                    <label>E-mail:</label>
                    <input class="text-field" type="email" name="email">
                </div>
                <div>   
                    <label>Contraseña:</label>
                    <input class="text-field" type="password" name="contrasenia">
                </div> 

                <div>
                    <h6>¿Olvidaste tu contraseña?</h6>
                </div>
                <div>
                    <button class="botonForm botonEnviar" type="submit">Enviar</button>
                </div>

            </form>
        </main>
    </header>
    <footer class="footer-flex">
        <div>
            <ul class="ul-footer">
                <li>
                    <a href=""> Atención al Cliente </a>
                </li>
                <li>
                    <a href="">¿Quiénes Somos?</a>
                </li>
    
            </ul>
        </div>

        <div>
            <ul class="ul-footer">
                <li>
                    <a href="www.facebook.com"> <i class="fa-brands fa-facebook"></i> </a>
                </li>
                <li>
                    <a href="www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
                </li>
                <li>
                    <a href="mailto: abc@example.com"><i class="fa-regular fa-envelope"></i></a> 
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>







