<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', {title: "Login"})%>

<body class="login-page">
    <%- include('./partials/header')%>

    <main>
        <form class="formularios-login" action="/users/login" method="POST" id="login-form">
            <div>
                <label for="email">Email:</label>
                <input class="text-field" type="email" name="email" id="email">
                <div class="error-message" id="email-error"></div> <!-- Error message for email -->
            </div>
            <div>
                <label for="password">Contraseña:</label>
                <input class="text-field" type="password" name="password" id="password">
                <div class="error-message" id="password-error"></div> <!-- Error message for password -->
            </div>
            <div>
                <label>Recordame</label>
                <input class="" type="checkbox" name="cookie">
            </div>
            <% if(locals.errors && errors.datosMal) { %>
            <p class="error">
                <%= errors.datosMal.msg %></p>
            <% } %>
            <div>
                <h6>¿Olvidaste tu contraseña?</h6>
            </div>
            <div>
                <button class="botonForm botonEnviar" type="submit">Ingresar</button>
            </div>
        </form>
    </main>
    </header>

    <%- include('./partials/footer')%>
    <script src="/js/login.js"></script>
</body>
</html>








