<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
</head>
<body>
    <header>

        <img src="./Logo-AdventureBA.png" alt="Logo-AdventureBA">

        <div>

            <p>Lugar para la barra de búsqueda</p>


        </div>

        <div>

            <p>Icono búsqueda</p>
                <div>
                    <i class="fa fa-search"></i>
                 </div>

        </div>

        <div>

            <p>Icono carrito</p>
                <div>
                    <i class=""></i>
                 </div>

        </div>


        <div>

            <p>Icono perfil</p>
                <div>
                    <i class=""></i>
                 </div>

        </div>

        <nav>
            <ul>
                <li>
                    <a href=""> Entretenimiento </a>
                </li>
                <li>
                    <a href=""> Gastronomía</a>
                </li>
                <li>
                    <a href=""> Cultura</a>
                </li>
                <li>
                <a href="">Ofertas</a>
                </li>

            </ul>


    </header>

    <main>
        <h2>Carrito</h2>

        <div>

            <img src="./img/Teatro Colon.jpeg" alt="Teatro Colon">

            <p>Visita Guíada - Teatro Colón</p>

            <p>Cantidad</p>

            <p>$4.000</p>

            <p>Icono basura</p>
                <div>
                    <i class=""></i>
                 </div>


        </div>


        <div>

            <img src="./img/Gastronomía.jpeg" alt="Gastronomía">

            <p>Almuerzo - 2 Personas</p>

            <p>Cantidad</p>

            <p>$7.000</p>

            <p>Icono basura</p>
                <div>
                    <i class=""></i>
                 </div>


        </div>

        <div>

            <p>Total: $11.000</p>
            <p>Botón Pagar</p>

        </div>
    </main>

    <footer>
        <ul>
            <li>
                <a href=""> Atención al Cliente </a>
            </li>
            <li>
                <a href="">¿Quiénes Somos?</a>
            </li>

        </ul>

        <ul>
            <li>
                <a href=""> Icono Facebook </a>
            </li>
            <li>
                <a href="">Icono Instagram</a>
            </li>
            <li>
                <a href="">Icono Mail</a> 
            </li>

                  <!--
usar <i></i> para los iconos en la lista
-->

    </footer>
</body>
</html>
