<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', {title: "ProductCart"})%>

<body>
    <%- include('./partials/header')%>


    <main>
        <h2 class="cart-tittle">Cada vez mas cerca de tu nueva experiencia!</h2>
        <div class="content">
            <div class="option">
                <img src="./img/Teatro Colon.jpeg" alt="Teatro Colon">

                <h3 class="option-tittle">Visita Guíada - Teatro Colón</h3>

                <form id="option-count"id='myform' method='POST' class='quantity' action='#'>
                    <input type='button' value='-' class='qtyminus minus' field='quantity' />
                    <input type='text' name='quantity' value='0' class='qty' />
                    <input type='button' value='+' class='qtyplus plus' field='quantity' />
                </form>

                <p class="option-price">$4.000</p>

                <div><i id="trash" class="fa-solid fa-trash"></i></div>
            </div>
            <div class="option">
                <img src="./img/Teatro Colon.jpeg" alt="Teatro Colon">

                <h3 class="option-tittle">Almuerzo - 2 Personas</h3>

                <form id="option-count" id='myform' method='POST' class='quantity' action='#'>
                    <input type='button' value='-' class='qtyminus minus' field='quantity' />
                    <input type='text' name='quantity' value='0' class='qty' />
                    <input type='button' value='+' class='qtyplus plus' field='quantity' />
                </form>

                <p class="option-price">$7.000</p>

                <div><i id="trash" class="fa-solid fa-trash"></i></div>
            </div>

            <div class="option">
                <img  class="img" src="./img/Teatro Colon.jpeg" alt="Teatro Colon">

                <h3 class="option-tittle">Visita Guíada - Teatro Colón</h3>

                <form id="option-count" id='myform' method='POST' class='quantity' action='#'>
                    <input type='button' value='-' class='qtyminus minus' field='quantity' />
                    <input type='text' name='quantity' value='0' class='qty' />
                    <input type='button' value='+' class='qtyplus plus' field='quantity' />
                </form>

                <p class="option-price">$4.000</p>

                <div><i id="trash" class="fa-solid fa-trash"></i></div>
            </div>
            <div class="option">
                <img src="./img/Teatro Colon.jpeg" alt="Teatro Colon">

                <h3 class="option-tittle">Visita Guíada - Teatro Colón</h3>

                <form id="option-count" id='myform' method='POST' class='quantity' action='#'>
                    <input type='button' value='-' class='qtyminus minus' field='quantity' />
                    <input type='text' name='quantity' value='0' class='qty' />
                    <input type='button' value='+' class='qtyplus plus' field='quantity' />
                </form>

                <p class="option-price">$4.000</p>

                <div><i id="trash" class="fa-solid fa-trash"></i></div>
            </div>
            <div class="option">
                <img src="./img/Teatro Colon.jpeg" alt="Teatro Colon">

                <h3 class="option-tittle">Visita Guíada - Teatro Colón</h3>

                <form id="option-count" id='myform' method='POST' class='quantity' action='#'>
                    <input type='button' value='-' class='qtyminus minus' field='quantity' />
                    <input type='text' name='quantity' value='0' class='qty' />
                    <input type='button' value='+' class='qtyplus plus' field='quantity' />
                </form>

                <p class="option-price">$4.000</p>

                <div><i id="trash" class="fa-solid fa-trash"></i></div>
            </div>
            <div class="option">
                <img src="./img/Teatro Colon.jpeg" alt="Teatro Colon">

                <h3 class="option-tittle">Visita Guíada - Teatro Colón</h3>

                <form id="option-count" id='myform' method='POST' class='quantity' action='#'>
                    <input type='button' value='-' class='qtyminus minus' field='quantity' />
                    <input type='text' name='quantity' value='0' class='qty' />
                    <input type='button' value='+' class='qtyplus plus' field='quantity' />
                </form>

                <p class="option-price">$4.000</p>

                <div><i id="trash" class="fa-solid fa-trash"></i></div>
            </div>
        </div>

        <div class="pay">
            <p>Total: $11.000</p>

            <script src="https://cdn.pinpayments.com/pin.v2.js"></script>
            <p><a id="btn-pay" href="#" class="button">Pagar</a></p>
        </div>
    </main>

    <%- include('./partials/footer')%>

</body>
</html>
