<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    rel="stylesheet" />
    <title>Producto</title>
</head>
<body>
    <header>

        <img src="./Logo-AdventureBA.png" alt="Logo-AdventureBA">

        <div class ="buscador">

            <div class="input"> Buscar productos, marcas...</div>
            <div class ="lupa"> <i class="fa fa-search"></i></div>

        </div>

        <div class="carrito">

            <div><i class="fa-solid fa-cart-shopping"></i></div>

        </div>


        <div>

            <div><i class="fa-regular fa-user"></i></div>

        </div>

        <nav>
            <ul>
                <li>
                    <a href=""> Entretenimiento </a>
                </li>
                <li>
                    <a href=""> Gastronomía</a>
                </li>
                <li>
                    <a href=""> Cultura</a>
                </li>
                <li>
                <a href="">Ofertas</a>
                </li>

            </ul>


    </header>

    <main>
        <h2>Teatro Colón-Visita Guiada</h2>

        <div>

            <img src="./img/Teatro Colon.jpeg" alt="Teatro Colon">

            <p>Visita Guíada - Teatro Colón</p>
            
            <div>
                <p>El Teatro Colón de la ciudad de Buenos Aires es considerado uno de los mejores teatros del mundo. Reconocido por su acústica y por el valor artístico de su construcción, su actual edificio cumplió 100 años en 2008.</p>
                <p>En el recorrido se visita el enorme hall de entrada cubierto por una cúpula formada por sorprendentes vidrieras, además de conocer la Sala de los Bustos y el Salón Dorado, una agradable estancia de inspiración francesa creada en estilo barroco.
                    El momento más interesante de la visita llega con la visión de la impresionante sala de conciertos compuesta por elegantes butacas de terciopelo rojo. Con una planta en forma de herradura y capacidad para 4.000 espectadores.</p>
            </div>

            <div>
                <h4>Detalle</h4>
                <p>Horario</p> <span>10 hs </span>
                <p>Duración</p> <span>2 hs</span>
                <p>Cupo</p><span>15</span>
            </div>

            <form id='myform' method='POST' class='quantity' action='#'>
                <input type='button' value='-' class='qtyminus minus' field='quantity' />
                <input type='text' name='quantity' value='0' class='qty' />
                <input type='button' value='+' class='qtyplus plus' field='quantity' />
            </form>

            

            <p>$4.000</p>

            <div><i class="fa-solid fa-trash"></i></div>
          

        </div>


        <div>

            <script src="https://cdn.pinpayments.com/pin.v2.js"></script>
            <p><a href="#" class="button">Comprar</a></p>

        </div>
    </main>

    <footer>
        <ul>
            <li>
                <a href=""> Atención al Cliente </a>
            </li>
            <li>
                <a href="">¿Quiénes Somos?</a>
            </li>

        </ul>

        <ul>
            <li>
                <a href="www.facebook.com"> <i class="fa-brands fa-facebook"></i> </a>
            </li>
            <li>
                <a href="www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
            </li>
            <li>
                <a href="mailto: abc@example.com"><i class="fa-regular fa-envelope"></i></a> 
            </li>

    </footer>
</body>
</html>
