


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css"> 
    <link rel="stylesheet" href="css/styles.css"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    
    <title>Carrito</title>
</head>
<body>
    <header>
        <div class="top-bar">
            <div>
                <img class="logo" src="./Logo-AdventureBA.png" alt="Logo-AdventureBA" >
            </div>
            <div>
                <ul class="test">
                    <li class="search-bar"> <b>Buscame!</b><i class="fa fa-search"></i></li>
                    <li><i class="fa-solid fa-cart-shopping"></i></li>
                    <li><i class="fa-regular fa-user"></i></li>
                </ul>
            </div>
        </div>

        <nav>
            <div>
                <ul>
                    <li>
                        <a href=""> Entretenimiento </a>
                    </li>
                    <li>
                        <a href=""> Gastronomía</a>
                    </li>
                    <li>
                        <a href=""> Cultura</a>
                    </li>
                    <li>
                    <a href="">Ofertas</a>
                    </li>
                </ul>
            </div>
        </nav>


    </header>

    <main>
        <h2 class="cart-tittle">Cada vez mas cerca de tu nueva experiencia!</h2>
        <div class="content">
            

            <div class="option">
                <img  class="img" src="./img/Teatro Colon.jpeg" alt="Teatro Colon">

                <h3 class="option-tittle">Visita Guíada - Teatro Colón</h3>

                <h5>El Teatro Colón guarda secretos en cada rincón <br>
                    y vivir la experiencia <br>
                     de una visita guiada es 
                     conocer una porción de su historia <br> de más de cien 
                      años al servicio de la cultura argentina y mundial. </h5>



                <form id="option-count" id='myform' method='POST' class='quantity' action='#'>
                    <input type='button' value='-' class='qtyminus minus' field='quantity' />
                    <input type='text' name='quantity' value='0' class='qty' />
                    <input type='button' value='+' class='qtyplus plus' field='quantity' />
                </form>

                

                <p class="option-price">$4.000</p>

                <div><i id="trash" class="fa-solid fa-trash"></i></div>
            </div>
            <div class="option">
                <h2 class="option-tittle">Detalle</h2>
                <h3>Horario</h3> <span>10 hs </span>
                <h3>Duración</h3> <span>2 hs</span>
                <h3>Cupo</h3><span>15</span>
            </div>
        </div>

        <div>

        </div>
    </main>

    <footer>
        <ul>
            <li>
                <a href=""> Atención al Cliente </a>
            </li>
            <li>
                <a href="">¿Quiénes Somos?</a>
            </li>

        </ul>

        <ul>
            <li>
                <a href="www.facebook.com"> <i class="fa-brands fa-facebook"></i> </a>
            </li>
            <li>
                <a href="www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
            </li>
            <li>
                <a href="mailto: abc@example.com"><i class="fa-regular fa-envelope"></i></a> 
            </li>

    </footer>
</body>
</html>
