<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', {title: "Register"})%>

<body>
    <%- include('./partials/header')%>


    <main id="formulario-registro">
        <h3>Completá tus datos</h3>
        <form class="formularios" action="/register" method="POST" enctype="multipart/form-data">
            <div>
                <label>Nombre:</label>
                <input class="text-field" type="text" name="name">
            </div>
           <div>
                <label>Apellido:</label>
                 <input class="text-field" type="text" name="last_name">
           </div>
            <div>
                <label>E-mail:</label>
                <input class="text-field" type="email" name="email">
            </div>
            <div>
                <label>Contraseña:</label>
                <input class="text-field" type="password" name="password">
            </div>
            <div>
                <input name="image" type="file">
            </div>
            <div>
                <label>Categoria (hacer input/readius)</label>
                <input class="text-field" type="text" name="category">
            </div>
                <button class="botonForm botonSubmit" type="submit">Registrate</button>
            </div>
        </form>
    </main>

    <%- include('./partials/footer')%>

</body>
</html>
