*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}  

header{
    background-color: #E0E1E6;
   
} 

body{
    background-color: #efeff1d7;
    width: 100%;
    font-family: "Roboto", sans-serif;
    
}

.header {
       
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vw;

}

.logo{
    height: 100%;
    width: 100%;
    padding: 10px;
}
.logo-container{
    width: 40%;
    height: 30%;
}

 /* Estilos para el botón de búsqueda */
 .search-bar button[type="submit"] {
    background-color: #3c6e71; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none;
    border-radius: 0 4px 4px 0;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
}

/* Estilos para el icono de búsqueda dentro del botón */
.search-bar button[type="submit"] i {
    margin-right: 5px;
    color: #fff;
}

  /* Estilos para el campo de búsqueda */
  .search-bar input[type="search"] {
    flex: 4;
    border: none;
    padding: 8px;
    border-radius: 4px 0 0 4px;
    font-size: 16px;
}

/* Estilos para el botón de búsqueda */
.search-bar button[type="submit"] {
    background-color: #3c6e71; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none;
    border-radius: 0 4px 4px 0;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
}


.links{
    margin: 0.3em;
    padding: 0.3em;
    list-style: none;
    display: flex;
    margin-top: 30px;
    position: relative;
}

.links a {
    text-decoration: none;
    color: #3c6e71;
    font-weight: bold;
}

.links i {
    color: #3c6e71;
}

.links .user-profile {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #F0F1F6;
    justify-content: center;
    align-items: center;
    width: 150px;
}

.links .user-profile.mostrar{
    display: flex;
    flex-direction: column;
}

.links .user-profile .opciones-perfil {
    list-style: none;
}

.links .user-profile .opciones-perfil .saludo {
    font-size: 18px;
    color:#3c6e71;
}

.links .user-profile .opciones-perfil li {
    border-top: 1px solid #b8b9bc;
    font-size: 14px;
    padding: 5px;
}

.links .user-profile .opciones-perfil a{
    font-weight: normal;
    color: #333;
    list-style: none;
    text-decoration: none;
}


.links .user-profile button {
    background: none;
    border: none;
    size: 30%;
    cursor: pointer;
    color: #333;
    font-size: 14px;
}


.categorias {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 10px;
    width: 100%;
  }

  .categorias li {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    margin: 0;
  }
  .categorias li a {
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    background-color: #3c6e71;
    font-weight: bold;
    padding: 0.5em 1em;
  }
.nav {
    display: flex;
}

.nav li {
    display: flex;
    list-style: none;
}

.presentacion {
    display: none;
}



main {
    margin-top: 15px;
}



.secciones {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
    margin-left: 4%;
    color: #3c6e71;
}

.edicion {
    text-align: center;
    justify-content: center;
    color: #3c6e71;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
}

.prod {
    background-color: #FFF;
    border-radius: 6px;
    margin-bottom: 15px;
    padding: 4px;
}

.prod:hover {
    box-shadow: 0 0 10px rgb(100, 100, 100);
}

.prod .prodEdit {
    text-decoration: none;
    color: inherit;
}

.foto-container{
    height: 70%;
}

.prod img {
    width: 100%;
    height: 100%;
}

.prod a {
    height: 0;
    size: 0cm;
}

.info-articulos {
    border-top: solid 1px #000;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: auto;
}

.info-articulos h4{
    font-size: 20px;
    height: auto;
    text-align: center;
    margin-top: 5px;
    margin-left: 10%;
    margin-right: 10%;
    width: 100%;
    justify-content: center;
}

.price {
    color: #3c6e71;
   
    font-weight: bold;
    padding: 20px;
    text-align: center;
    overflow: hidden;
    width: 80%;
    height: 80%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }

  .secciones {
    height: 37%;
  }

  footer {
    background-color: #3c6e71;
    padding: 10px;
  }
  
  /* Estilos para la lista de enlaces en el footer */
  footer div ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  footer div ul li {
    margin: 10px;
  }
  
  footer div ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }

/*carrito*/

.cart-tittle {
    font-size: 36px;
    margin: 20px 0;
    text-align: center;
  }
  
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin: 0 auto;
    max-width: 1000px;
     background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px 20px; 
  }
  
  .prodcart {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  
  .prodcart img {
    height: 250px;
    flex-basis: 50%;
    margin-right: 20px;
  }
  
  .prodcart .elements {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    flex-direction: column; /* cambiar dirección del flexbox */
  }
  
  .product-info {
    width: 30%;
  }
  
  .tituloprodcart {
    font-size: 20px;
    color: #333;
    margin: 0;
  }
  
 
  .quantity {
    margin: 0 20px;
  }
  
  .quantity-input {
    font-size: 18px;
    width: 60px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
  }
  
  .product-price {
    margin-left: auto;
  }
  
  .option-price {
    font-size: 20px;
    color: #3c6e71;
    margin: 0;
  }
  
  #trash {
    font-size: 18px;
    color: #f44336;
    cursor: pointer;
    margin-left: 20px;
    transition: color 0.3s;
  }
  
  #trash:hover {
    color: #bf0d00;
  }
  
  
  .pay {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 10px; /* reducir el padding */
    width: 100%;
    max-width: 300px;
    margin-bottom: 15px;
    height: 20px;
  }
  
  .pay p {
    font-size: 20px;
  }
  
  .button {
    width: 100%; /* establecer una anchura fija del 100% */
    background-color: #3c6e71;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
  }
  
  .button:hover {
    background-color: #468083;
  }

 


/* Vista de productDetail*/
.detalleproducto {
    margin-top: 0px;
    padding-bottom: 15px;
    background-color: #FFF;
    font-size: 40px;
}

.titulo-descripcion {
    margin-left: 15px;
}

.detalletitulo {
    font-size: 24px;
    color: #333;
    padding-top: 10px;
    margin-bottom: 10px;
}

.detalledescripcion {
    font-size: 16px;
    color: #777;
    margin-bottom: 10px;
    max-width: 50%;
}

.contenido {
    display: flex;
    justify-content: space-between;
    margin: 20px 15px 0 15px;
}

.imagen {
    width: 50%;
    height: 60%;
}

.imgdetalle {
    max-width: 100%;
    height: 100%;
    width: 100%;
}

.especificaciones {
    width: 50%;
    height: 100%;
    margin-left: 20px;
    font-size: 20px;
    color: #333;
}

.detalle-info {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.detalle-info div {
    margin-right: 10px;
    display: flex;
}

.detalle-info i {
    color: #3c6e71;
    margin-right: 2px;
}

.option-title {
    font-size: 25px;
    color: #333;
    margin-bottom: 15px;
}

.especificaciones h3 {
    height: 20%;
}

.detalleprecio {
    font-size: 22px;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
}


span {
    font-size: 16px;
    color: #777;
}

.btn-comprar {
    
    background-color: #3c6e71; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    padding: 10px 20px; /* Espaciado interno del botón */
    font-size: 18px; /* Tamaño de fuente del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer; /* Cambia el cursor al pasar el ratón sobre el botón */
    transition: background-color 0.3s; /* Transición suave para el color de fondo */
    width: 50%;
    margin-left: 20px;
}

.btn-comprar:hover {
    background-color: #468083; /* Color de fondo al pasar el ratón sobre el botón */
}



/* Vista de perfil de usuario */

.contenido-perfil {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contenido-perfil .imagen-perfil {
    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border: 7px solid #FFFFFF;
    background-color: #DFE5F2;
    box-shadow: 0 0 10px rgb(100, 100, 100);
    border-radius: 50%;
    margin-bottom: 10px;
}

.contenido-perfil .imagen-perfil img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: inherit;
}

.contenido-perfil .perfil-usuario-body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contenido-perfil .perfil-usuario-body .info-user {
    margin-bottom: 5px;
}

.btn-profile {
    background-color: #3c6e71; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    padding: 5px 5px; /* Espaciado interno del botón */
    font-size: 18px; /* Tamaño de fuente del botón */
    border: none; /* Sin borde */
    border-radius: 4px; /* Borde redondeado */
    cursor: pointer; /* Cambia el cursor al pasar el ratón sobre el botón */
    transition: background-color 0.3s; /* Transición suave para el color de fondo */
    width: 100%;
    margin-bottom: 10px;
}

.btn-profile:hover {
    background-color: #468083; /* Color de fondo al pasar el ratón sobre el botón */
}

/*De acá hacia abajo en CSS de formulario y registro*/

main form {
    display: flex;
    
}

.barra-superior{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

#formulario-registro{
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
}

.formularios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 25px;
}

form div {
    margin-bottom: 10px;
    border-radius: 5%;
    width:70%;
}

.input-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

form div .imagen-perfil {
    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border: 7px solid #FFFFFF;
    background-color: #DFE5F2;
    box-shadow: 0 0 10px rgb(100, 100, 100);
    border-radius: 50%;
    margin-bottom: 10px;
}

form div .imagen-perfil img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: inherit;
}

.text-field {
    padding: 5px;
    width: 100%;
}

.botones {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 0 20%;
}

.error {
    color: red;
}

.botonForm{
    width: 50%;
}

.botonSubmit{
    background-color: #3c6e71;
    color: #FFF;
}


.botonEnviar {
    background-color: #3c6e71;
    color:#FFF;
    transition:background-color 0.7s;
    width:min-content;
    padding: 0.2em;
    justify-content: space-between;
}

.botonEnviar:hover {
    background-color: #468083;
}


.botonDelete {
    background-color: #4d4d4d;
    color: #FFF;
}

.botonDelete:hover {
    background-color: #8e8e8e;
}

/* Estilo del botón */
#borrar-prod {
    justify-content: right;
    align-items: end;
}

#borrar-prod button {
    background-color: #fff;
    color: #3c6e71;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px; 
    cursor: pointer; 
    transition: background-color 0.3s;
}

#borrar-prod button:hover {
    background-color: #3c6e71;
    color: #fff;
}

#tacho {
font-size: 20px;
}

#borrar-prod button i {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
  

.buscador{
    display: flex;
    justify-content: space-between;
    padding-left:0.2em;
  
    
}

.carrito{
    display: flex;
    align-items: center;
    
}


    

@media (min-width: 361px){


   
    
    .productos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .desc-prod {
        display: block;
        text-align: center;
    }
    main section article {
        width: 90%;
    }
    header nav {
        display: flex;
        justify-content: space-between;
    }
    header div.burger-menu {
        display: none;
    }

    .descripcion {
        display: flex;
        flex-wrap: wrap;
       
    }
    
    .descripcion1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

    }

    .imgdetalle {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

    }
    .detalletitulo {
        font-size: 20px;
      }
      .detalledescripcion {
        font-size: 14px;
      }
      .imagen {
        width: 70%;
      }
      .especificaciones {
        font-size: 16px;
      }
      .detalleprecio {
        font-size: 20px;
      }
      .btn-comprar {
        font-size: 16px;
        width: 70%;
      }
    }
    



@media (min-width: 769px){

    header{
        background-color: #E0E1E6;
        width: 100%;
    } 

    .top-bar {
        height: 170px;
    }

    body header div.top-bar{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Ajusta el valor de desenfoque y opacidad según tus preferencias */
        width: 100%;
    }
    
    .logo{
        height: 100%;
        width: 60%;
        padding: 10px;
    }
    .logo-container{
        width: 20%;
        height: 100%;
    }
    
    .accesos{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 20px;
        padding: 10px;
    }
    
    /* Estilos para el contenedor del buscador */
    .search-bar {
        display: flex;
        align-items: center;
        border-radius: 4px;
    }
      
    /* Estilos para el campo de búsqueda */
    .search-bar input[type="search"] {
        flex: 4;
        border: none;
        padding: 8px;
        border-radius: 4px 0 0 4px;
        font-size: 16px;
    }
    
    /* Estilos para el botón de búsqueda */
    .search-bar button[type="submit"] {
        background-color: #3c6e71; /* Color de fondo del botón */
        color: #fff; /* Color del texto del botón */
        border: none;
        border-radius: 0 4px 4px 0;
        padding: 8px 12px;
        cursor: pointer;
        font-size: 16px;
    }
    
    /* Estilos para el icono de búsqueda dentro del botón */
    .search-bar button[type="submit"] i {
        margin-right: 5px;
        color: #fff;
    }
    
    .links{
        margin: 0.3em;
        padding: 0.3em;
        list-style: none;
        display: flex;
        margin-top: 30px;
    }
    
    .links a {
        text-decoration: none;
        color: #3c6e71;
        font-weight: bold;
    }
    
    .links i {
        color: #3c6e71;
    }
    
    header nav{
        display: flex;
        flex-direction: row;
        background-color: #3c6e71;
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .categorias{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-weight: 500;
        padding-top: 1em;
        padding-bottom: 1em;
        width: 100%;
        height: 50px;
    }
    
    .categorias li {
        list-style: none;
        padding-top: 0.5em;
        font-weight: 500;
        font-size: large;
        display: flex;
        align-items: center;
    }
    
    
   

    .presentacion{
        position: relative;
        display: flex;
        width: 100%;
        height: 30vw;
    }
    
    .presentacion .buenosAires {
        width: 100%;
    }
    
    .presentacion .texto-presentacion {
        position: absolute;
        color: #000;
        /* Cambiar text-decoration por font-weight para hacer el texto más legible */
        font-weight: bold;
        padding: 20px;
        text-align: center;
        overflow: hidden;
        width: 100%;
        height: 100%;
        /* Ajustar el tamaño de fuente */
        font-size: 1.5rem;
        
        /* Agregar sombra al texto para resaltarlo del fondo */
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      }
    
    main section article {
        width: 31.5%;
    }

    
}

footer {
    background-color: #3c6e71;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer div ul {
    background-color: #3c6e71;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    list-style: none;
}

.redes{
    margin-top: 10px;
}

footer div ul li a{
    color: #FFF;
    text-decoration: none;
    list-style: none;
    font-weight: bold;
}




#formulario-registro{
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
}

.formularios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;

}

.form div {
    margin-bottom: 10px;
    border-radius: 5%;
    width:100%;
}

.text-field {
    padding: 5px;
    width: 100%;
}


.botonForm{
    width: 40%;
}

.botonSubmit{
    background-color: #3c6e71;
    color: #FFF;
    }


.botonEnviar {
    background-color: #3c6e71;
    color:#FFF;
    transition:background-color 0.7s;

    
}

.botonEnviar:hover {
    background-color: #468083;
}
.botonSubmit:hover {
    background-color: #468083;
}

.error-message {
    color: red;
}