*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
header{
    background-color: rgb(233, 150, 122);
    width: 100vw;
}   
body{
    background-color: #ebebeb;
    width: 100vw;
}
body header div.top-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
	background-color: rgb(233, 150, 122);
    border-radius: 10px; /* Ajusta el valor según el grado de redondez que desees */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Ajusta el valor de desenfoque y opacidad según tus preferencias */
    width: 100vw;
}

body header div div ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
    padding: 10px;

}
body header div div ul li{
    margin: 0.3em;
    padding: 0.3em;
    list-style: none;

}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.search-bar{

    background-color: antiquewhite;
    border-radius: 0.5em;
    background: #ebebeb;
    color: #bfbfbf;

}

b{
    padding-right: 10em;
    font-weight: lighter;
}


ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-weight: 500;
    padding: 1em 0;
    padding-bottom: 1em;

}

nav ul li {
    list-style: none;
    padding-top: 0.5em;
    font-weight: 500;
    font-size: large;
}

nav ul li a{
    text-decoration: none;
    color: rgb(205, 92, 92);
    font-weight: bold;
    padding: 0.5em;
}

.logo{
    border: red 1px solid;
}

.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

   

    justify-content: space-around;

}


.descripcion {

    width: 70%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: red;
    border-radius: #a7a1a1 1px solid;
    justify-content: space-between;
    padding-bottom: 0.5em;
    padding: 2em;
    margin: 2em;
    box-shadow: 0 0 10px 0 rgba(10, 10, 10, 0.7), 
              0 0 20px 0 rgba(196, 189, 189, 0.5), 
              0 0 30px 0 rgba(143, 140, 140, 0.3), 
              0 0 40px 0 rgba(59, 59, 59, 0.2), 
              0 0 50px 0 rgba(124, 121, 121, 0.1);
}

.descripcion1 {
    width: 70%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: red;
    border-radius: #a7a1a1 1px solid;
    justify-content: space-between;
    padding-bottom: 1em;
    padding: 1em;
    margin: 1em;

}

.imgdetalle {
    
    width: 70%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: #a7a1a1 1px solid;
    justify-content: space-between;
    padding-bottom: 0.1em;
    padding: 2em;
    margin: 2em;

}

.detalletitulo {
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: #a7a1a1 1px solid;
    justify-content: space-between;
    padding-bottom: 2em;
    padding: 2em;
    margin: 1em;

}

.option{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: red;
    border-radius: #a7a1a1 1px solid;

    justify-content: space-between;

}

#trash{
    color: rgb(233, 150, 122);
    font-size:large
}

.cart-tittle{
    padding-left: 1em;
    padding-top: 1em;
    margin-bottom: 0.5em;
    font-weight: lighter;
    display: flex;
    justify-content: center;
}

.cart-tittle{
    padding-left: 1em;
    padding-top: 1em;
    margin-bottom: 0.5em;
    font-weight: lighter;
    display: flex;
    justify-content: center;
}

.option-price{
    padding-bottom: 1em;
    font-weight: bolder;
    font-size: larger;
}

#option-count{
    padding-bottom: 1em;
}

.option-tittle{
    padding-top: 0.5em;
    padding-bottom: 1em;
    
}





.option{
    display: flex;
    flex-direction: column;
    border-radius: #a7a1a1 1px solid;
    padding-bottom: 0.5em;
    padding: 2em;
    margin: 2em;
    box-shadow: 0 0 10px 0 rgba(10, 10, 10, 0.7), 
              0 0 20px 0 rgba(196, 189, 189, 0.5), 
              0 0 30px 0 rgba(143, 140, 140, 0.3), 
              0 0 40px 0 rgba(59, 59, 59, 0.2), 
              0 0 50px 0 rgba(124, 121, 121, 0.1);
}

.pay{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: bold;
    padding-bottom: 1em;
}

#btn-pay{
    text-decoration: none;
    list-style: none;
    padding-left: 0.3em;
    color: rgb(205, 92, 92);
}

.ul-footer{
    background-color: rgb(233, 150, 122);
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    list-style: none;

}
footer div ul li a{

    color: rgb(205, 92, 92);
    text-decoration: none;
    list-style: none;
    font-weight: bold;

}

main form {
    display: flex;
    
}





















/*De acá hacia abajo en CSS de formulario y registro*/

.barra-superior{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

#formulario-registro{
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
}

.formularios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 25px;

}

form div {
    margin-bottom: 10px;
    border-radius: 5%;
    width:70%;
}

.text-field {
    padding: 5px;
    width: 100%;
}


.botonForm{
    width: 40%;

}

.botonSubmit{
    background-color: green;
    color: #FFF;
    }


.botonEnviar {
    background-color: grey;
    color:#FFF;
    transition:background-color 0.7s;

    
}
.botonEnviar:hover {
    background-color: #0022AA ;

}

.botonEnviar{
    width:min-content;
    padding: 0.2em;
    justify-content: space-between;
}

.buscador{
    display: flex;
    justify-content: space-between;
    padding-left:0.2em;
  
    
}

.carrito{
    display: flex;
    align-items: center;
    
}

body header div div h4 {

    background-color: antiquewhite;
    border-radius: 0.5em;
    background: #ebebeb;
    color: #bfbfbf;
    align-items: center;
    padding-right: 2rem;

}

.div-carrito-user{
    padding: 1em;
}
/*CSS Joaquín*/

body {
    font-family: 'Roboto', sans-serif
}

header {
    background-color: coral;
    width: 100vw;
}

header .top-header {
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}

header .top-header .logo {
    width: 30%;
    padding: 10px;
}

header .top-header .buscador {
    width: 60%;
    padding: 5px;
    display: flex;
}

header nav ul {
    margin-bottom: 0px;
    display: flex;
    justify-content: space-around;
    width: 90%;
}

header nav ul li {
    list-style-type: none;
}

header div.burger-menu {
    text-align: center;
    margin-top: 20px;
}

header div.burger-menu i {
    color: #FFF;
    background-color: #000;
    font-size: 20px;
    padding: 10px;
    margin: 10px 0px 20px 0px;
    border-radius: 5px;
}

.presentacion{
    position: relative;
    display: flex;
    width: 100vw;
}

.presentacion .buenosAires {
    width: 100vw;
}

.presentacion .texto-presentacion {
    position: absolute;
    color: #FFF;
    padding: 10px;
    text-align: center;
    overflow: hidden;
    max-width: 37.5%;
    max-height: 100%;
}

main {
    width: 90vw;
}

main section h3 {
    font-size: 24px;
}

main section article {
    box-shadow: 0px 0px 10px rgb(24, 24, 24);
    margin-bottom: 10%;
}

main section article p.precio{
    width: 60%;
    margin-left: 5%;
}

main section article p.descuento{
    width: 25%;
    color: coral;
}

main section article img {
    width: 100%;
    height: 70%;
}

main section article .info-articulos {
    border-top: solid 1px #000;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: auto;
}

main section article .info-articulos h4{
    font-size: 16px;
    height: auto;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

main .suscripcion {
    text-align: center;
    margin-bottom: 25px;
}

main .suscripcion h3 {
    font-size: 24px;
}

main .suscripcion a {
    padding: 5px;
    background-color: coral;
    font-size: 20px;
}

footer {
    background-color: coral;
}

footer .data-util {
    display: flex;
}

footer .data-util article {
    width: 45%;
    margin: 10px 10px 10px 10px;
    text-align: center;
}

footer .redes {
    display: flex;
}



@media (min-width: 361px){
    .productos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .desc-prod {
        display: block;
        text-align: center;
    }
    main section article {
        width: 90%;
    }
    header nav {
        display: flex;
        justify-content: space-between;
    }
    header div.burger-menu {
        display: none;
    }

    .descripcion {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .descripcion1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

    }

    .imgdetalle {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

    }

}

@media (min-width: 769px){
    main section article {
        width: 31.5%;
    }
}
