*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}  
body{
    background-color: #efeff1d7;
    width: 100%;
    font-family: "Roboto", sans-serif;
    
}
header{
    background-color: #E0E1E6;
    width: 100%;
} 

body header div.top-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Ajusta el valor de desenfoque y opacidad según tus preferencias */
    width: 100%;
}

.logo{
    height: 100%;
    width: 60%;
    padding: 10px;
}
.logo-container{
    width: 20%;
}

.accesos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
    padding: 10px;
}

/* Estilos para el contenedor del buscador */
.search-bar {
    display: flex;
    align-items: center;
    border-radius: 4px;
}
  
/* Estilos para el campo de búsqueda */
.search-bar input[type="search"] {
    flex: 4;
    border: none;
    padding: 8px;
    border-radius: 4px 0 0 4px;
    font-size: 16px;
}

/* Estilos para el botón de búsqueda */
.search-bar button[type="submit"] {
    background-color: #3c6e71; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none;
    border-radius: 0 4px 4px 0;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
}

/* Estilos para el icono de búsqueda dentro del botón */
.search-bar button[type="submit"] i {
    margin-right: 5px;
    color: #fff;
}

.links{
    margin: 0.3em;
    padding: 0.3em;
    list-style: none;
    display: flex;
    margin-top: 30px;
}

.links a {
    text-decoration: none;
    color: #3c6e71;
    font-weight: bold;
}

.links i {
    color: #3c6e71;
}

header nav{
    display: flex;
    flex-direction: row;
    background-color: #3c6e71;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.categorias{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-weight: 500;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
}

.categorias li {
    list-style: none;
    padding-top: 0.5em;
    font-weight: 500;
    font-size: large;
}

.categorias li a{
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    padding: 0.5em;
}

main {
    margin-top: 15px;
}

.presentacion{
    position: relative;
    display: flex;
    width: 100%;
    height: 30vw;
}

.presentacion .buenosAires {
    width: 100%;
}

.presentacion .texto-presentacion {
    position: absolute;
    color: #000;
    padding: 10px;
    text-align: center;
    overflow: hidden;
    max-width: 37.5%;
    max-height: 100%;
}

.secciones {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
    margin-left: 4%;
    color: #3c6e71;
}

.prod {
    background-color: #FFF;
    border-radius: 6px;
    margin-bottom: 15px;
}

.prod:hover {
    box-shadow: 0 0 10px rgb(100, 100, 100);
}

.foto-container{
    height: 70%;
}

.prod img {
    width: 100%;
    height: 100%;
}

.prod a {
    height: 0;
    size: 0cm;
}

.info-articulos {
    border-top: solid 1px #000;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: auto;
}

.info-articulos h4{
    font-size: 20px;
    height: auto;
    text-align: center;
    margin-top: 5px;
    margin-left: 10%;
    margin-right: 10%;
    width: 100%;
    justify-content: center;
}

footer {
    background-color: #3c6e71;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer div ul {
    background-color: #3c6e71;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    list-style: none;
}

.redes{
    margin-top: 10px;
}

footer div ul li a{
    color: #FFF;
    text-decoration: none;
    list-style: none;
    font-weight: bold;
}

/* Vista de productDetail*/
.detalleproducto {
    margin-top: 0px;
    padding-bottom: 15px;
    background-color: #FFF;
    font-size: 40px;
}

.titulo-descripcion {
    margin-left: 15px;
}

.detalletitulo {
    font-size: 24px;
    color: #333;
    padding-top: 10px;
    margin-bottom: 10px;
}

.detalledescripcion {
    font-size: 16px;
    color: #777;
    margin-bottom: 10px;
    max-width: 50%;
}

.contenido {
    display: flex;
    justify-content: space-between;
    margin: 20px 15px 0 15px;
}

.imagen {
    width: 50%;
    height: 60%;
}

.imgdetalle {
    max-width: 100%;
    height: 100%;
    width: 100%;
}

.especificaciones {
    width: 50%;
    height: 100%;
    margin-left: 20px;
    font-size: 20px;
    color: #333;
}

.detalle-info {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.detalle-info div {
    margin-right: 10px;
    display: flex;
}

.detalle-info i {
    color: #3c6e71;
    margin-right: 2px;
}

.option-title {
    font-size: 25px;
    color: #333;
    margin-bottom: 15px;
}

.especificaciones h3 {
    height: 20%;
}

.detalleprecio {
    font-size: 22px;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
}


span {
    font-size: 16px;
    color: #777;
}

.btn-comprar {
    
    background-color: #3c6e71; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    padding: 10px 20px; /* Espaciado interno del botón */
    font-size: 18px; /* Tamaño de fuente del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer; /* Cambia el cursor al pasar el ratón sobre el botón */
    transition: background-color 0.3s; /* Transición suave para el color de fondo */
    width: 50%;
    margin-left: 20px;
}

.btn-comprar:hover {
    background-color: #468083; /* Color de fondo al pasar el ratón sobre el botón */
}

/* Estilo para los íconos */
.fa-solid.fa-trash:hover {
    color: #c0392b;
}


/*De acá hacia abajo en CSS de formulario y registro*/

main form {
    display: flex;
    
}

.barra-superior{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

#formulario-registro{
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
}

.formularios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 25px;

}

form div {
    margin-bottom: 10px;
    border-radius: 5%;
    width:70%;
}

.text-field {
    padding: 5px;
    width: 100%;
}

.error {
    color: red;
}

.botonForm{
    width: 40%;

}

.botonSubmit{
    background-color: #3c6e71;
    color: #FFF;
}


.botonEnviar {
    background-color: #3c6e71;
    color:#FFF;
    transition:background-color 0.7s;

    
}
.botonEnviar:hover {
    background-color: #468083;
}

.botonEnviar{
    width:min-content;
    padding: 0.2em;
    justify-content: space-between;
}

.buscador{
    display: flex;
    justify-content: space-between;
    padding-left:0.2em;
  
    
}

.carrito{
    display: flex;
    align-items: center;
    
}


@media (min-width: 361px){
    .productos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .desc-prod {
        display: block;
        text-align: center;
    }
    main section article {
        width: 90%;
    }
    header nav {
        display: flex;
        justify-content: space-between;
    }
    header div.burger-menu {
        display: none;
    }

    .descripcion {
        display: flex;
        flex-wrap: wrap;
       
    }
    
    .descripcion1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

    }

    .imgdetalle {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

    }
    .detalletitulo {
        font-size: 20px;
      }
      .detalledescripcion {
        font-size: 14px;
      }
      .imagen {
        width: 70%;
      }
      .especificaciones {
        font-size: 16px;
      }
      .detalleprecio {
        font-size: 20px;
      }
      .btn-comprar {
        font-size: 16px;
        width: 70%;
      }
    }
    



@media (min-width: 769px){
    main section article {
        width: 31.5%;
    }
}

#formulario-registro{
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
}

.formularios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;

}

.form div {
    margin-bottom: 10px;
    border-radius: 5%;
    width:100%;
}

.text-field {
    padding: 5px;
    width: 100%;
}


.botonForm{
    width: 40%;
}

.botonSubmit{
    background-color: #3c6e71;
    color: #FFF;
    }


.botonEnviar {
    background-color: #3c6e71;
    color:#FFF;
    transition:background-color 0.7s;

    
}
.botonEnviar:hover {
    background-color: #468083;
}
.botonSubmit:hover {
    background-color: #468083;
}

.error-message {
    color: red;
}